.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 10px;
    box-sizing: border-box
}

.head_text h1 {
    overflow: hidden;
    border-right: .15em solid #9b4dca;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    font-size: 4vw;
}

.head_text {
    width: fit-content;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #9b4dca;
    }
}

.show_button {
    width: 100%;
}

@media (max-width: 80.0rem) {
    .center_of_screen {
        width: 90%;
    }
}

@media (max-width: 40.0rem) {
    body {
        font-size: 1.2rem;
    }

    input[type='text']{
        height: 2.8rem;
    }

    input[type='submit']{
        height: 3rem;
        line-height: 3rem;
        font-size: 1rem;
    }

    label {
        font-size: 1.2rem;
    }

    td {
        padding: 5px 5px 5px 5px;
    }

    th {
        padding: 5px 5px 5px 5px;
    }

    .container {
        padding: 0px 20px 0px 20px;
    }

    form {
        margin: auto;
    }

    .calculator_button {
        width: 100%;
        margin-top: 10px;
    }
 }

 @media (min-width: 40.0rem) {
    .calculator_table {
        margin: auto;
        min-width: 70rem;
    }

    .calculator_button {
        width: 100%;
        margin-top: 30px;
    }
 }


.hidden {
    /*display: none;*/
    opacity: 0;
}

.calculator_button {
    width: 100%;
    margin-top: 30px;
}

.disabled {
    background-color: '#606c76';
    border: '#606c76';
}
